[destination.mssql.credentials]
database = ""
username = ""
password = ""
host     = ""
connect_timeout = 15
driver   = "ODBC Driver 18 for SQL Server"

[destination.mssql.credentials.query]   # extra ODBC flags
Encrypt              = "yes"            # TLS
TrustServerCertificate = "yes"          # allow self‑signed certs
LongAsMax            = "yes"            # send long strings as NVARCHAR(MAX)